<div class="row">
  <div class="col-sm-4">

    <h2>Register</h2>
    <br>

    {{#if errorMessage}}
      <div class="bg-warning" style="padding: 15px; margin-bottom: 10px;">
        <p class="text-warning">{{errorMessage}}</p>
      </div>
    {{/if}}

    <form role="form" {{action "createUser" on="submit"}}>
      <div class="form-group">
        <label for="name">Full Name</label>
        {{input type="text" value=name id="name" placeholder="Full Name" class="form-control"}}
        <small>{{errors.name}}</small>
      </div>

      <div class="form-group">
        <label for="email">Email address</label>
        {{input type="text" value=email id="email" placeholder="Email" class="form-control"}}
        <small>{{errors.email}}</small>
      </div>

      <div class="form-group">
        <label for="username">Username</label>
        {{input type="text" value=username id="username" placeholder="Username" class="form-control"}}
        <small>{{errors.username}}</small>
      </div>

      <div class="form-group">
        <label for="pword">Password</label>
        {{input type="password" value=password id="pword" placeholder="Password" class="form-control"}}
        <small>{{errors.password}}</small>
      </div>

      <div class="form-group">
        <label for="pwordconf">Password Confirmation</label>
        {{input type="password" value=password_confirmation id="pwordconf"
        placeholder="Password Confirmation" class="form-control"}}
        <small>{{errors.password_confirmation}}</small>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
